.join-button {
    background-color: red;
    color: blanchedalmond;
    cursor:pointer;
    border-radius: 10px;
    height: 50px;
    width: 100px;
    border: none;
    border-style: solid;
    font-weight: solid;
    font-size: 35px;
    transition: backgroung-color 0.15;
    color 0.15s;
    .join-button:hover{
    background-color: blue;
    }
    .join-button:active{
        opacity: 0.7;
    }

   
    }